*.class
# android
local.properties
gradle.properties
settings.gradle
build.gradle
.gradle/
android/
# desktop and release scripts
bin/
build/
JetSlalomResurrected.jar
JetSlalomResurrected.zip
JetSlalomResurrected.apk
JetSlalomResurrected.apk.idsig
